
/* header */
header { height: var(--height-header); background: #e9a107; display: flex; align-items: center; }
.hamburger {padding-left: 15px;}
.hamburger .line{width: 35px;height: 3px;background-color: #ecf0f1;display: block;margin: 5px auto;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3){ width: 24px;}
.hamburger.is-active .line:nth-child(1){-webkit-transform: translateX(-10px) rotate(-45deg);-ms-transform: translateX(-10px) rotate(-45deg);-o-transform: translateX(-10px) rotate(-45deg);transform: translateX(-10px) rotate(-45deg);}
.hamburger.is-active .line:nth-child(3){ -webkit-transform: translateX(-10px) rotate(45deg); -ms-transform: translateX(-10px) rotate(45deg); -o-transform: translateX(-10px) rotate(45deg); transform: translateX(-10px) rotate(45deg);}

/* nav */
nav { position: absolute; top: var(--height-header); left: -100%; background: #ffffff; height: calc(100vh - var(--height-header)); width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-between; text-align: center; transition-duration: .3s; } 
nav.show {left: 0%; transition-duration: .3s;}

/* login - registro */
.cont-login-registro { position: absolute; top: 0; height: 100vh; background: #00000061; width: 100%; left: 0; visibility: hidden; opacity: 0; transition-duration: .4s; }
.cont-login-registro.show {visibility: visible; transition-duration: .4s; opacity: 1;}
.cont-login, .cont-registro { transition-duration: .2s; position: absolute; display: flex; align-items: end; bottom: -100%; width: 100%; left: 0; overflow: hidden; height: 0%;}
.cont-login.show, .cont-registro.show { transition-duration: .2s; bottom: 0%; height: 100%; }
.login, .registro { display: flex; width: 100%; flex-wrap: wrap; flex-direction: column; padding: 20px; background: white; }

/* lista nav */
nav ul {
    width: 100%;
}
li.item-menu a {
    display: flex;
    justify-content: space-between;
    padding: 17px;
}

li.item-menu {
    border-top: 1px solid black;
}

/* secciones */
.seccion { display: none; flex-direction: column; }
.seccion.show {display: flex;}

/* home */
.banner {
    height: var(--height-banner);
    width: 100%;
    background-color: red;
}
.op-seccion {
    display: flex; 
    justify-content: space-between;
    height: var(--height-opc-seccion);
    padding: 5px var(--padding-lr);
    box-sizing: border-box;
    background-color: white;
}
.btn-categorias {
    height: var(--height-btn-cat);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
    padding: 0 var(--padding-lr);
}
.btn-categorias p {
    margin-bottom: 5px;
}
.btn-categorias div {
    display: flex;
    overflow-x: scroll;
    height: 44px; /* TEMPORAL */
    font-size: 13px;
    justify-content: space-between;
}
.lista-items {
    height: calc(100vh - var(--height-btn-cat) - var(--height-opc-seccion) - var(--height-banner) - var(--height-header) );
    overflow-y: scroll;
    padding: 12px var(--padding-lr) 50px var(--padding-lr);
    box-sizing: border-box;
}

/* card prod-cat */
.item {
    display: flex;
    justify-content: space-between;
    height: 100px; /* TEMPORAL */
    margin-bottom: 8px;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 3px;
}
.img-item {
    min-width: 27%;
    border-right: 0.5px solid #b5b4b48a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-item {
    min-width: 20%;
    border-left: 0.5px solid #b5b4b48a;
    margin: 21px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoria-item {
    font-size: 11px;
    margin-bottom: 7px;
}
.descripcion-item {
    overflow: hidden;
    font-size: 13px;
    margin-top: 1px;
}

.info-item {
    display: flex;
    flex-direction: column;
    padding: 14px 13px 13px 13px;
}

