/* header */
header { height: var(--height-header); background: #e9a107; display: flex; align-items: center; }
.hamburger {padding-left: 15px;}
.hamburger .line{width: 35px;height: 3px;background-color: #ecf0f1;display: block;margin: 5px auto;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3){ width: 24px;}
.hamburger.is-active .line:nth-child(1){-webkit-transform: translateX(-10px) rotate(-45deg);-ms-transform: translateX(-10px) rotate(-45deg);-o-transform: translateX(-10px) rotate(-45deg);transform: translateX(-10px) rotate(-45deg);}
.hamburger.is-active .line:nth-child(3){ -webkit-transform: translateX(-10px) rotate(45deg); -ms-transform: translateX(-10px) rotate(45deg); -o-transform: translateX(-10px) rotate(45deg); transform: translateX(-10px) rotate(45deg);}

/* nav */
nav { position: absolute; top: var(--height-header); left: -100%; background: #d6aeae; height: calc(100vh - var(--height-header)); width: 100%; transition-duration: .3s; } 
nav.show {left: 0%; transition-duration: .3s;}

/* login - registro */

.cont-login, .cont-registro {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 0vh;
    overflow: hidden;
    width: 100%;
    background: #0000005e;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition-duration: .4s
}
.cont-login.show, .cont-registro.show {
    bottom: 0;
    height: 100vh;
    transition-duration: .4s;
}
/* .cont-login.show, .cont-registro.show {height: 100%; transition-duration: .2s;} */

.registro, .login {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    padding: 20px 20px;
}
